AGMARKNET_BASE_URL=https://api.agmarknet.gov.in/v1
SOILHEALTH_GRAPHQL_URL=https://soilhealth4.dac.gov.in
AGMARKNET_TIMEOUT_SECONDS=30
AGMARKNET_MAX_RETRIES=3
AGMARKNET_INITIAL_BACKOFF=0.5
MCP_TRANSPORT=streamable-http
MCP_HOST=0.0.0.0
MCP_PORT=9004
MCP_MOUNT_PATH=/
