AGMARKNET_BASE_URL=https://api.agmarknet.gov.in/v1
SOILHEALTH_GRAPHQL_URL=https://soilhealth4.dac.gov.in
AGMARKNET_TIMEOUT_SECONDS=30
AGMARKNET_MAX_RETRIES=3
AGMARKNET_INITIAL_BACKOFF=0.5
SOILHEALTH_TIMEOUT_SECONDS=30
SOILHEALTH_MAX_RETRIES=3
SOILHEALTH_INITIAL_BACKOFF=0.5

MCP_TRANSPORT=streamable-http
MCP_HOST=0.0.0.0
MCP_MOUNT_PATH=/

AGMARKNET_MCP_TRANSPORT=streamable-http
AGMARKNET_MCP_HOST=0.0.0.0
AGMARKNET_MCP_PORT=9004
AGMARKNET_MCP_MOUNT_PATH=/

SOILHEALTH_MCP_TRANSPORT=streamable-http
SOILHEALTH_MCP_HOST=0.0.0.0
SOILHEALTH_MCP_PORT=9005
SOILHEALTH_MCP_MOUNT_PATH=/
